{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">SYSTEM HOSTED & APPLICATION :  {{ application.hostname|upper }}</p>
        <a href="{% url 'assets_management:nodes-list' %}" id="price_back_to_car_list">Back to physical nodes list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating hosted application information in the system</legend>					                  
                    <div class="form-group">
                    <div class="form-group">
                        <label>Choose working status</label>
                        <select required name="status">
                            <option value="{{ application.status }}" selected>{{ application.status|replace|upper }}</option>
                            {% for VALUE, STATUS in STATUES %}
                                {% if application.status != VALUE %}
                                    <option value="{{ VALUE }}">{{ STATUS }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Hosted application serial number</label>
                        <input type="text" maxlength="40" minlength="4" name="serial_number" value="{{ application.serial_number }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Hosted application model</label>
                        <input type="text" maxlength="100" name="model" value="{{ application.model }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Hosted application vendor</label>
                        <input type="text" maxlength="60" name="vendor" value="{{ application.vendor }}"/>
                    </div>
                    <div class="form-group">
                        <label>Hosted application host IP</label>
                        <input type="text"  name="host_ip" value="{{ application.host_ip }}" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <label>Node hostname</label>
                        <input type="text"  name="hostname" value="{{ application.hostname }}" maxlength="40" required/>
                    </div>
                    <div class="form-group">
                        <label>Hosted application role</label>
                        <input type="text" maxlength="40" name="role" value="{{ application.role }}"/>
                    </div>
                    <div class="form-group">
                        <label>Operating system installed</label>
                        <input type="text" maxlength="40" name="os_installed" value="{{ application.os_installed }}"/>
                    </div>
                    <div class="form-group"></label>
                        <label>Installation year
                        <input type="number" min="2011" name="installation_year" value="{{ application.installation_year }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Vendor support warranty time(in months)</label>
                        <input type="number" min="0" name="supporting_time"  value="{{ application.supporting_time }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Usage start date</label>
                        <input type="date" name="usage_start_date" value="{{application.usage_start_date|date:'Y-m-d'}}" required/>
                    </div>	
                    <input type="submit" value="Update hosted application information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}