{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of System Hosted & Applications</p>
        <button id="car_title_header_and_new_btn_button">+ new application</button>
    </div>
    <div id="car_body_data">
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>MODEL</th>
                    <th>SERIAL NUMBER</th>
                    <th>HOST NAME</th>
                    <th>HOST IP</th>
                    <th>ROLE</th>
                    <th>INSTALLATION YEAR</th>
                    <th>VENDOR</th>
                    <th>OPERATING SYSTEM INSTALLED</th>
                    <th>RECORDED DATE</th>
                    <th colspan="4">ACTIONS</th>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.model|upper }}</td>
                            <td>{{ application.serial_number|upper }}</td>
                            <td>{{ application.hostname|upper }}</td>
                            <td>{{ application.host_ip }}</td>
                            <td>{{ application.role|upper }}</td>
                            <td>{{ application.installation_year }}</td>
                            <td>{{ application.vendor|upper }}</td>
                            <td>{{ application.os_installed|upper }}</td>
                            <td>{{ application.recorded_date }}</td>
                            <td><a href="#" class="publish_button">publish</a></td>
                            <td><a href="{% url 'assets_management:application-detail' application.asset_id %}" class="view_button">view details</a></td>
                            <td><a href="{% url 'assets_management:application-detail-update' application.asset_id 'update' %}" class="update_button">update</a></td>
                            <td><a href="{% url 'assets_management:application-detail-update' application.asset_id 'confirm_delete' %}" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div id="car_new_form_div">
            <div>
                <h4>Before filling out the form for recording a new System hosted and application, here is the explaination of some fields for supporting you to fill out with required and correct data about System hosted and application</h4>
                <p><strong>SERIAL NUMBER:</strong> These are series of characters used to identify a System hosted and application</p>
                <p><strong>Tag number:</strong>This is a series of characters which identifies each asset of an organization</p>
                <p><strong>Entry date in the bank: </strong>The date when the bank has received the System hosted and application from supplier</p>
                <p><strong>Warranty time(in months): </strong>The time given by the supplier to the bank for System hosted and application to be returned back if it doesn't meet the specifications</p>
                <p><strong>Life time (in months): </strong>The time the System hosted and application is supposed to be used and after that time the computer should not be reliable(provided by the manufacturer and shuould be followed)</p>
                <p><strong>Store: </strong>If the System hosted and application is in stock which stock where it is stored</p>
                <p><strong>Purchase price(RWF): </strong>Amount that spent while buying System hosted and application</p>
                <p><strong>Sell price: </strong>If the System hosted and application was sold, at which price it was sold</strong>.</p>
                <p><strong>Working status: </strong>Behaviour of the System hosted and application while being used</p>
                <p><strong>Category: </strong>The type of System hosted and application whether TV or monitor</p>
                <p><strong>System hosted and application size: </strong>The size of the System hosted and application in inches</p>
            </div>
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new System hosted and application in the system</legend>	
                    <div class="form-group">
                        <input type="text" placeholder="System hosted and application serial number" maxlength="40" minlength="4" name="serial_number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="System hosted and application model" maxlength="100" name="model" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="System hosted and application vendor" maxlength="60" name="vendor"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="System hosted and application hostname" maxlength="40" name="hostname" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="System hosted and application host IP" maxlength="20" name="host_ip" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="System hosted and application role" maxlength="40" name="role" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Operating system installed" maxlength="100" name="os_installed"/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="System hosted and application installation year" min="2010" name="installation_year"/>
                    </div>	
                    <div class="form-group">
                        <input type="number" placeholder="System hosted and application supporting lifetime(in months)" min="0" name="supporting_time" required/>
                    </div>
                    <input type="submit" value="Save new application"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}