{% extends "base_layout.html" %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">Hosted Application:  {{ application.hostname|upper }}</p>
        <a href="{% url 'assets_management:applications-list' %}" id="price_back_to_car_list">Back to hosted applications list</a>
    </div>
    <div id="car_body_data">				
        <div id="car_prices">
            <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                <div>
                    <p><strong>Serial number: </strong>{{ application.serial_number|upper }}</p>
                    <p><strong>Vendor: </strong>{{ application.vendor|upper }}</p>                 
                    <p><strong>Recorded date: </strong>{{ application.recorded_date }}</p>
                    <p><strong>Installation year: </strong>{{ application.installation_year }}</p>
                </div>
                <div>
                    <p><strong>Model: </strong>{{ application.model|upper }}</p>
                    <p><strong>Host IP: </strong>{{ application.host_ip }}</p>
                    <p><strong>Role: </strong>{{ application.role|upper }}</p>
                    {% if application.usage_start_date %}
                        <p><strong>Usage start date: </strong>{{ application.usage_start_date }}</p>
                    {% endif %}
                </div>
                <div>
                    <p><strong>In use: </strong>{% if application.in_use %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Operating system: </strong>{{ application.os_installed|upper }}</p>
                    <p><strong>Supporting lifetime: </strong>{{ application.supporting_time_formated }}</p>
                    <p><strong>Functions: </strong>{% if application.still_functions %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Status: </strong>{{ application.status|replace|upper }}</p>
                </div>
            </div>
            <div id="current_price_list" class="current_price_price_archive_price">
                <h4>List of all current prices assigned to this car</h4>
                <button id="view_price_archive_button" onclick='showGroupPriceArchive("block")'>show price archives</button>
                <form>
                    <select>
                        <option value="all services" selected>All services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                    </select>
                    <select>
                        <option value="From" selected disabled>From</option>
                        <option value="Gasabo">Gasabo</option>
                        <option value="Rusizi">Rusizi</option>
                    </select>
                    <select>
                        <option value="To" selected disabled>To</option>
                        <option value="Gasabo">Gasabo</option>
                        <option value="Rusizi">Rusizi</option>
                    </select>
                    <select>
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="all">All records</option>
                    </select>
                    <input type="submit" value="view"/>
                </form>						
                <table>
                    <thead>
                        <th>Code</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Price</th>
                        <th>Service</th>
                        <th>Recorded date</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td>Gasabo</td>
                            <td>Rusizi</td>
                            <td>30000 Rwf</td>
                            <td>Wedding service</td>
                            <td>20-08-2020</td>
                            <td><a href="#">Delete this price</a></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Gasabo</td>
                            <td>Rusizi</td>
                            <td>30000 Rwf</td>
                            <td>Wedding service</td>
                            <td>20-08-2020</td>
                            <td><a href="#">Delete this price</a></td>
                        </tr>
                    </tbody>
                </table>						
            </div>
            <div id="price_archive_list" class="current_price_price_archive_price">
                <h4>List of all prices which were assigned to this car before (price archive)</h4>
                <button id="hide_price_archives" onclick="showGroupPriceArchive('none')">Hide price archives</button>
                <form>
                    <select>
                        <option value="all services" selected>All services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                    </select>
                    <select>
                        <option value="From" selected disabled>From</option>
                        <option value="Gasabo">Gasabo</option>
                        <option value="Rusizi">Rusizi</option>
                    </select>
                    <select>
                        <option value="To" selected disabled>To</option>
                        <option value="Gasabo">Gasabo</option>
                        <option value="Rusizi">Rusizi</option>
                    </select>
                    <select>
                        <option value="last used date" selected disabled>Last date used</option>
                        <option value="Gasabo">20-10-2020</option>
                        <option value="Gasabo">12-08-2020</option>
                        <option value="Gasabo">05-07-2020</option>
                    </select>
                    <select>
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="all">All records</option>
                    </select>
                    <input type="submit" value="view"/>
                </form>
                <table>
                    <thead>
                        <th>Code</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Price</th>
                        <th>Service</th>
                        <th>Recorded date</th>
                        <th>Last date used</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td>Gasabo</td>
                            <td>Rusizi</td>
                            <td>30000 Rwf</td>
                            <td>Wedding service</td>
                            <td>20-08-2020</td>
                            <td>20-11-2020</td>
                            <td><a href="#">Reuse this price</a></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Gasabo</td>
                            <td>Rusizi</td>
                            <td>30000 Rwf</td>
                            <td>Wedding service</td>
                            <td>20-08-2020</td>
                            <td>20-11-2020</td>
                            <td><a href="#">Reuse this price</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>					
        </div>
    </div>
{% endblock %}