{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">ATM: {{ atm.model|upper }}</p>
        <a href="{% url 'assets_management:atms-list' %}" id="price_back_to_car_list">Back to ATMs list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <div>
                <h4>Before filling out the form for recording a new computer, here is the explaination of some fields for supporting you to fill out with required and correct data about computer</h4>
                <p><strong>SERIAL NUMBER:</strong> These are series of characters used to identify a computer, open command prompt as administrator: type <b style="background-color: yellow; font-style: italic">wmic generators get serialnumber</b> press Enter</p>
                <p><strong>Model:</strong> This shows version and manafacturer of the computer </p>
                <p><strong>Tag number:</strong>This is a series of characters which identifies each asset of an organization</p>
                <p><strong>Entry date in the bank: </strong>The date when the bank has received the computer from supplier</p>
                <p><strong>Warranty time(in months): </strong>The time given by the supplier to the bank for computer to be returned back if it doesn't meet the specifications</p>
                <p><strong>Life time (in months): </strong>The time the computer is supposed to be used and after that time the computer should not be reliable(provided by the manufacturer and shuould be followed)</p>
                <p><strong>Store: </strong>If the computer is in stock which stock where it is stored</p>
                <p><strong>Purchase price(RWF): </strong>Amount that spent while buying computer</p>
                <p><strong>Sell price: </strong>If the computer was sold, at which price it was sold</strong>.</p>
                <p><strong>Working status: </strong>Behaviour of the computer while being used</p>
                <p><strong>Category: </strong>Whether it is Laptop or Desktop</p>
                <p><strong>Storage type: </strong>The type of stroge for storing data whether it is HARD DISK, SSD or it has both 
                <p><strong>Processor manufacturer: </strong>The manufacturer of the processor can AMD, Intel or other</p>
                <p><strong>Processor type: </strong>The number of cores does the processor has</p>
                <p><strong>Processor speed: </strong>The speed of processor sum up all speeds together for all cores in Herthz</p>
                <p><strong>Processor name: </strong>The full name of processor e.g intel pentium, i7-10510U</p>
                <p><strong>Symantic installed: </strong>Specifying whether the computer has symantic installed</p>
                <p><strong>Operating system: </strong>The operating system installed in the computer</p> 
            </div>
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating ATM information in the system</legend>					                  
                    <div class="form-group">
                        <p>Was the ATM sold?:</p>                      
                        <label for="asset_sold_yes">Yes
                             <input type="radio" id="asset_sold_yes" name="asset_sold" {% if atm.asset_sold %} checked {% endif %}/>
                        </label> 
                        <label for="asset_sold_no">No
                            <input type="radio" id="asset_sold_no" name="asset_sold" {% if not atm.asset_sold %} checked {% endif %}/>
                        </label> 
                    </div>
                    <div class="form-group">
                        <label>ATM sale date</label>
                        <input type="date" name="sold_date" value="{{atm.sold_date|date:'Y-m-d'}}"/>
                    </div>
                    <div class="form-group">
                        <label>ATM sale price</label>
                        <input type="number" name="sale_price" value="{{ atm.sale_price }}"/>
                    </div>
                    <div class="form-group">
                        <label>Choose store where ATM is stored</label>
                        <select required name="which_store">
                            <option value="{{ atm.which_store }}" selected>{{ atm.which_store|replace|upper }}</option>
                            {% for VALUE, STORE in STORES %}
                                {% if atm.which_store != VALUE %}
                                    <option value="{{ VALUE }}">{{ STORE }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose working status of avaya</label>
                        <select required name="status">
                            <option value="{{ atm.status }}" selected>{{ atm.status|replace|upper }}</option>
                            {% for VALUE, STATUS in STATUES %}
                                {% if atm.status != VALUE %}
                                    <option value="{{ VALUE }}">{{ STATUS }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>ATM serial number</label>
                        <input type="text" maxlength="40" minlength="4" name="serial_number" value="{{ atm.serial_number }}" required/>
                    </div>
                    <div class="form-group">
                        <label>ATM model</label>
                        <input type="text" maxlength="100" name="model" value="{{ atm.model }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Operating system installed</label>
                        <input type="text" maxlength="60" name="os_installed" value="{{ atm.os_installed }}" required/>
                    </div>
                    <div class="form-group">
                        <label>ATM version</label>
                        <input type="text"  name="version" value="{{ atm.version }}" maxlength="65"/>
                    </div>
                    <div class="form-group">
                        <label>ATM host IP</label>
                        <input type="text"  name="host_ip" value="{{ atm.host_ip }}" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <label>ATM name</label>
                        <input type="text"  name="hostname" value="{{ atm.hostname }}" maxlength="40" required/>
                    </div>
                    <div class="form-group">
                        <label>ATM tag number</label>
                        <input type="text" maxlength="40" name="tag_number" value="{{ atm.tag_number }}"/>
                    </div>
                    <div class="form-group"></label>
                        <label>ATM purchase price
                        <input type="number" min="5000" name="purchase_price" value="{{ atm.purchase_price }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Entry date in the bank</label>
                        <input type="date" name="entry_date_in_bank" value="{{atm.entry_date_in_bank|date:'Y-m-d'}}" required/>
                    </div>
                    <div class="form-group">
                        <label>ATM warranty time(in months)</label>
                        <input type="number" min="0" name="warranty_time"  value="{{ atm.warranty_time }}" required/>
                    </div>	
                    <div class="form-group">
                        <label>ATM life time(in months)</label>
                        <input type="number" min="0" name="lifetime" value="{{ atm.lifetime }}" required/>
                    </div>
                    <input type="submit" value="Update ATM information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}