{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of ATMs</p>
        <button id="car_title_header_and_new_btn_button">+ new ATM</button>
    </div>
    <div id="car_body_data">
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>MODEL</th>
                    <th>SERIAL NUMBER</th>
                    <th>ATM NAME</th>
                    <th>TAG NUMBER</th>
                    <th>WORKING STATUS</th>
                    <th>OPERATING SYSTEM  INSTALLED</th>
                    <th>HOST IP</th>
                    <th>DATE ENTERED THE BANK</th>
                    <th>RECORDED DATE</th>
                    <th colspan="4">ACTIONS</th>
                </thead>
                <tbody>
                    {% for atm in atms %}
                        <tr>
                            <td>{{ atm.model|upper }}</td>
                            <td>{{ atm.serial_number|upper }}</td>
                            <td>{{ atm.hostname|upper }}</td>
                            <td>{{ atm.tag_number|upper }}</td>
                            <td>{{ atm.status|replace|upper }}</td>
                            <td>{{ atm.os_installed|upper }}</td>
                            <td>{{ atm.host_ip }}</td>
                            <td>{{ atm.entry_date_in_bank }}</td>
                            <td>{{ atm.recorded_date }}</td>
                            <td><a href="#" class="publish_button">publish</a></td>
                            <td><a href="{% url 'assets_management:atm-detail' atm.asset_id %}" class="view_button">view details</a></td>
                            <td><a href="{% url 'assets_management:atm-detail-update' atm.asset_id 'update' %}" class="update_button">update</a></td>
                            <td><a href="{% url 'assets_management:atm-detail-update' atm.asset_id 'confirm_delete' %}" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div id="car_new_form_div">
            <div>
                <h4>Before filling out the form for recording a new ATM, here is the explaination of some fields for supporting you to fill out with required and correct data about ATM</h4>
                <p><strong>SERIAL NUMBER:</strong> These are series of characters used to identify a ATM</p>
                <p><strong>Tag number:</strong>This is a series of characters which identifies each asset of an organization</p>
                <p><strong>Entry date in the bank: </strong>The date when the bank has received the ATM from supplier</p>
                <p><strong>Warranty time(in months): </strong>The time given by the supplier to the bank for ATM to be returned back if it doesn't meet the specifications</p>
                <p><strong>Life time (in months): </strong>The time the ATM is supposed to be used and after that time the computer should not be reliable(provided by the manufacturer and shuould be followed)</p>
                <p><strong>Store: </strong>If the ATM is in stock which stock where it is stored</p>
                <p><strong>Purchase price(RWF): </strong>Amount that spent while buying ATM</p>
                <p><strong>Sell price: </strong>If the ATM was sold, at which price it was sold</strong>.</p>
                <p><strong>Working status: </strong>Behaviour of the ATM while being used</p>
                <p><strong>Category: </strong>The type of ATM whether TV or monitor</p>
                <p><strong>ATM size: </strong>The size of the ATM in inches</p>
            </div>
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new ATM device in the system</legend>	
                    <div class="form-group">
                        <select required name="which_store">
                            <option value="STORE" selected disabled>Choose store where ATM is stored</option>
                            {% for VALUE, STORE in STORES %}
                                <option value={{ VALUE }}>{{ STORE }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="status">
                            <option value="STORE" selected disabled>Choose working status of ATM</option>
                            {% for VALUE, STATUS in STATUES %}
                                <option value={{ VALUE }}>{{ STATUS }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM serial number" maxlength="40" minlength="4" name="serial_number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM model" maxlength="100" name="model" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM name" maxlength="40" name="hostname" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM host IP" maxlength="20" name="host_ip"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM Operating system installed" maxlength="60" name="os_installed" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM tag number" maxlength="40" name="tag_number"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="ATM version" maxlength="65" name="version"/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="ATM purchase price" min="5000" name="purchase_price" required/>
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Entry date in the bank" name="entry_date_in_bank" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="ATM warranty time(in months)" min="0" name="warranty_time" required/>
                    </div>	
                    <div class="form-group">
                        <input type="number" placeholder="ATM life time(in months)" min="0" name="lifetime" required/>
                    </div>
                    <input type="submit" value="Save new ATM"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}