{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">{{ avaya.category|upper }} : {{ avaya.model|upper }}</p>
        <a href="{% url 'assets_management:avaya-list' %}" id="price_back_to_car_list">Back to avaya list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating avaya information in the system</legend>		
                    <div class="form-group">
                        <input type="hidden" name="category" value="{{avaya.category }}"/>
                    </div>			                  
                    <div class="form-group">
                        <p>Was the avaya sold?:</p>                      
                        <label for="asset_sold_yes">Yes
                             <input type="radio" id="asset_sold_yes" name="asset_sold" {% if avaya.asset_sold %} checked {% endif %}/>
                        </label> 
                        <label for="asset_sold_no">No
                            <input type="radio" id="asset_sold_no" name="asset_sold" {% if not avaya.asset_sold %} checked {% endif %}/>
                        </label> 
                    </div>
                    <div class="form-group">
                        <label>Avaya sale date</label>
                        <input type="date" name="sold_date" value="{{avaya.sold_date|date:'Y-m-d'}}"/>
                    </div>
                    <div class="form-group">
                        <label>Avaya sale price</label>
                        <input type="number" name="sale_price" value="{{ avaya.sale_price }}"/>
                    </div>
                    <div class="form-group">
                        <label>Choose store where avayametric device is stored</label>
                        <select required name="which_store">
                            <option value="{{ avaya.which_store }}" selected>{{ avaya.which_store|replace|upper }}</option>
                            {% for VALUE, STORE in STORES %}
                                {% if avaya.which_store != VALUE %}
                                    <option value="{{ VALUE }}">{{ STORE }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose working status of avaya</label>
                        <select required name="status">
                            <option value="{{ avaya.status }}" selected>{{ avaya.status|replace|upper }}</option>
                            {% for VALUE, STATUS in STATUES %}
                                {% if avaya.status != VALUE %}
                                    <option value="{{ VALUE }}">{{ STATUS }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Avaya serial number</label>
                        <input type="text" maxlength="40" minlength="4" name="serial_number" value="{{ avaya.serial_number }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Avaya model</label>
                        <input type="text" maxlength="100" name="model" value="{{ avaya.model }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Avaya version</label>
                        <input type="text"  name="version" value="{{ avaya.version }}"/>
                    </div>
                    <div class="form-group">
                        <label>Avaya tag number</label>
                        <input type="text" maxlength="40" name="tag_number" value="{{ avaya.tag_number }}"/>
                    </div>
                    <div class="form-group"></label>
                        <label>Avaya purchase price
                        <input type="number" min="5000" name="purchase_price" value="{{ avaya.purchase_price }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Entry date in the bank</label>
                        <input type="date" name="entry_date_in_bank" value="{{avaya.entry_date_in_bank|date:'Y-m-d'}}" required/>
                    </div>
                    <div class="form-group">
                        <label>Avaya warranty time(in months)</label>
                        <input type="number" min="0" name="warranty_time"  value="{{ avaya.warranty_time }}" required/>
                    </div>	
                    <div class="form-group">
                        <label>Avaya life time(in months)</label>
                        <input type="number" min="0" name="lifetime" value="{{ avaya.lifetime }}" required/>
                    </div>
                    <input type="submit" value="Update avaya information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}