{% extends "base_layout.html" %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">{{ generator.category|upper }}: {{ generator.model|upper }}</p>
        <a href="{% url 'assets_management:generators-list' %}" id="price_back_to_car_list">Back to generators list</a>
    </div>
    <div id="car_body_data">				
        <div id="car_prices">
            <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                <div>
                    <p><strong>Serial number: </strong>{{ generator.serial_number|upper }}</p>
                    <p><strong>Purchase price: </strong>{{ generator.purchase_price }} Rwf</p>
                    {% if generator.asset_sold %}
                        <p><strong>Sale price: </strong>{{ generator.sale_price }} Rwf</p>
                        <p><strong>Sold date: </strong>{{ generator.sold_date }}</p>
                    {% endif %}
                    {% if generator.in_store %}
                        <p><strong>Location: </strong>{{ generator.which_store|replace|upper }} Stock</p>
                    {% else %}
                        <p><strong>Location: </strong>{{ generator.current_location }} - {{ generator.currect_exact_loc }}
                    {% endif %}
                    <p><strong>Recorded date: </strong>{{ generator.recorded_date }}</p>
                </div>
                <div>
                    <p><strong>Entry date in the bank: </strong>{{ generator.entry_date_in_bank }}</p>
                    {% if generator.usage_start_date %}
                        <p><strong>Usage start date: </strong>{{ generator.usage_start_date }}</p>
                    {% endif %}
                    <p><strong>Warranty time: </strong>{{ generator.warranty_time_formated }}</p>
                    <p><strong>Lifetime: </strong>{{ generator.lifetime_formated }}</p>
                    {% if generator.version %}
                        <p><strong>Generator version: </strong>{{ generator.version }}</p>
                    {% endif %}
                </div>
                <div>
                    <p><strong>Tag number: </strong>{% if generator.tag_number %}{{ generator.tag_number}} {% else %}{% endif %}</p>                  
                    <p><strong>In use: </strong>{% if generator.in_use %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Functions: </strong>{% if generator.still_functions %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Status: </strong>{{ generator.status|replace|upper }}</p>
                </div>
            </div>
            <div id="current_price_list" class="table-data">
                <h4>List of locations where this generator was assigned</h4>
                <a  href="{% url 'assets_movement:note-gen-assign' generator.asset_id %}" id="view_price_archive_button">+ generator assignment</a>
                {% if assignments_num > 0 %}						
                    <form>
                        <select>
                            <option value="all services" selected>All services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                        </select>
                        <select>
                            <option value="From" selected disabled>From</option>
                            <option value="Gasabo">Gasabo</option>
                            <option value="Rusizi">Rusizi</option>
                        </select>
                        <select>
                            <option value="To" selected disabled>To</option>
                            <option value="Gasabo">Gasabo</option>
                            <option value="Rusizi">Rusizi</option>
                        </select>
                        <select>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="all">All records</option>
                        </select>
                        <input type="submit" value="view"/>
                    </form>
                    <table class="table-data">
                        <thead>
                            <th>USER ID</th>
                            <th>APPROVER FIRST NAME</th>
                            <th>APPROVER LAST NAME</th>
                            <th>APPROVER CONTACT INFO</td>
                            <th>DEPARTMENT/LOCATION</th>
                            <th>EXACT LOCATION</th>
                            <th>APPROVAL STATUS</th>
                            <th>RETURNED</th>
                            <th>RECORDED DATE</th>
                            <th>RECEIVED DATE</th>
                            <th>RETURNED DATE</th>
                            <th>MOVED FROM HEAD OFFICE</th>
                            <th>STATUS</th>
                        </thead>
                        <tbody>
                            {% for assign in scanner_users %}
                                <tr>
                                    <td>{{ assign.approver.username }}</td>
                                    <td>{{ assign.approver.first_name|upper }}</td>
                                    <td>{{ assign.approver.last_name|upper }}</td>
                                    <td>{{ assign.approver.phone_number }}</td>
                                    <td>{{ assign.branch|upper }}</td>
                                    <td>{{ assign.exact_location|upper }}</td>
                                    <td>{{ assign.approval_status|title }}</td>
                                    {% if assign.returned %}
                                        <td>YES</td>
                                    {% else %}
                                        <td>NO</td>
                                    {% endif %}
                                    <td>{{ assign.date_assigned|date:"d-m-Y H:i" }}</td>
                                    <td>{{ assign.date_approved|date:"d-m-Y H:i" }}</td>
                                    <td>{{ assign.returned_date|date:"d-m-Y H:i" }}</td>
                                    {% if assign.external_movement_required %}
                                        <td>YES</td>
                                    {% else %}
                                        <td>NO</td>
                                    {% endif %}
                                    <td>{{ assign.status|title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This generator has never been assigned to any location</p>
                {% endif %}						
            </div>
            <div id="price_archive_list" class="table-data">
                {% comment %} <h4>{{ group.name }} group has {{group_permissions_num}} {% if group_permissions_num > 1 %} permissions{% else %} permission{% endif %} </h4> {% endcomment %}
                <h4>Maintenance history on this generator</h4>
                <a href="#" id="hide_price_archives">+ new maintenance record</a>
                {% comment %} {% if group_permissions_num > 0 %} {% endcomment %}
                    <form>
                        <select>
                            <option value="all services" selected>All services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                        </select>
                        <select>
                            <option value="From" selected disabled>From</option>
                            <option value="Gasabo">Gasabo</option>
                            <option value="Rusizi">Rusizi</option>
                        </select>
                        <select>
                            <option value="To" selected disabled>To</option>
                            <option value="Gasabo">Gasabo</option>
                            <option value="Rusizi">Rusizi</option>
                        </select>
                        <select>
                            <option value="last used date" selected disabled>Last date used</option>
                            <option value="Gasabo">20-10-2020</option>
                            <option value="Gasabo">12-08-2020</option>
                            <option value="Gasabo">05-07-2020</option>
                        </select>
                        <select>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="all">All records</option>
                        </select>
                        <input type="submit" value="view"/>
                    </form>
                    <table class="table-data">
                        <thead>
                            <th>#ID</th>
                            <th>CODENAME</th>
                            <th>PERMISSION NAME</th>
                            <th>DATE ADDED</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% comment %} {% for perm in group_permissions %} {% endcomment %}
                                <tr>
                                    <td>CODENAME</td>
                                    <td>CODENAME</td>
                                    <td>CODENAME</td>
                                    <td>CODENAME</td>
                                    <td><a href="#" class="delete_button">remove</a></td>
                                </tr>
                            {% comment %} {% endfor %} {% endcomment %}
                        </tbody>
                    </table>
                {% comment %} {% endif %} {% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}