{% extends "base_layout.html" %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">PHYSICAL NODE:  {{ node.hostname|upper }}</p>
        <a href="{% url 'assets_management:nodes-list' %}" id="price_back_to_car_list">Back to physical nodes list</a>
    </div>
    <div id="car_body_data">				
        <div id="car_prices">
            <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                <div>
                    <p><strong>Serial number: </strong>{{ node.serial_number|upper }}</p>
                    <p><strong>Vendor: </strong>{{ node.vendor|upper }}</p>
                    <p><strong>Purchase price: </strong>{{ node.purchase_price }} Rwf</p>
                    {% if node.asset_sold %}
                        <p><strong>Sale price: </strong>{{ node.sale_price }} Rwf</p>
                        <p><strong>Sold date: </strong>{{ node.sold_date }}</p>
                    {% endif %}
                    {% if node.in_store %}
                        <p><strong>Location: </strong>{{ node.which_store|replace|upper }} Stock</p>
                    {% else %}
                        <p><strong>Location: </strong>{{ node.current_location }} - {{ node.currect_exact_loc }}
                    {% endif %}
                    <p><strong>Recorded date: </strong>{{ node.recorded_date }}</p>
                </div>
                <div>
                    <p><strong>Model: </strong>{{ node.model|upper }}</p>
                    <p><strong>Host IP: </strong>{{ node.host_ip }}</p>
                    <p><strong>Role: </strong>{{ node.role|upper }}</p>
                    <p><strong>Entry date in the bank: </strong>{{ node.entry_date_in_bank }}</p>
                    {% if node.usage_start_date %}
                        <p><strong>Usage start date: </strong>{{ node.usage_start_date }}</p>
                    {% endif %}
                    <p><strong>Warranty time: </strong>{{ node.warranty_time_formated }}</p>
                    <p><strong>Lifetime: </strong>{{ node.lifetime_formated }}</p>
                    <p><strong>Installation year: </strong>{{ node.installation_year }}</p>
                </div>
                <div>
                    <p><strong>Tag number: </strong>{% if node.tag_number %}{{ node.tag_number}} {% else %}{% endif %}</p>                  
                    <p><strong>In use: </strong>{% if node.in_use %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Functions: </strong>{% if node.still_functions %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Status: </strong>{{ node.status|replace|upper }}</p>
                    <p><strong>Operating system: </strong>{{ node.os_installed|upper }}</p>
                </div>
            </div>
             <div id="current_price_list" class="table-data">
                <h4>List of locations where this server was assigned</h4>
                <a  href="{% url 'assets_movement:node-assign' note.asset_id %}" id="view_price_archive_button">+ server assignment</a>
                {% if assignments_num > 0 %}						
                    <form>
                        <select>
                            <option value="all services" selected>All services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                            <option value="wedding services">Wedding services</option>
                        </select>
                        <select>
                            <option value="From" selected disabled>From</option>
                            <option value="Gasabo">Gasabo</option>
                            <option value="Rusizi">Rusizi</option>
                        </select>
                        <select>
                            <option value="To" selected disabled>To</option>
                            <option value="Gasabo">Gasabo</option>
                            <option value="Rusizi">Rusizi</option>
                        </select>
                        <select>
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="all">All records</option>
                        </select>
                        <input type="submit" value="view"/>
                    </form>
                    <table class="table-data">
                        <thead>
                            <th>USER ID</th>
                            <th>APPROVER FIRST NAME</th>
                            <th>APPROVER LAST NAME</th>
                            <th>APPROVER CONTACT INFO</td>
                            <th>DEPARTMENT/LOCATION</th>
                            <th>EXACT LOCATION</th>
                            <th>APPROVAL STATUS</th>
                            <th>RETURNED</th>
                            <th>RECORDED DATE</th>
                            <th>RECEIVED DATE</th>
                            <th>RETURNED DATE</th>
                            <th>MOVED FROM HEAD OFFICE</th>
                            <th>STATUS</th>
                        </thead>
                        <tbody>
                            {% for assign in node_users %}
                                <tr>
                                    <td>{{ assign.approver.username }}</td>
                                    <td>{{ assign.approver.first_name|upper }}</td>
                                    <td>{{ assign.approver.last_name|upper }}</td>
                                    <td>{{ assign.approver.phone_number }}</td>
                                    <td>{{ assign.branch|upper }}</td>
                                    <td>{{ assign.exact_location|upper }}</td>
                                    <td>{{ assign.approval_status|title }}</td>
                                    {% if assign.returned %}
                                        <td>YES</td>
                                    {% else %}
                                        <td>NO</td>
                                    {% endif %}
                                    <td>{{ assign.date_assigned|date:"d-m-Y H:i" }}</td>
                                    <td>{{ assign.date_approved|date:"d-m-Y H:i" }}</td>
                                    <td>{{ assign.returned_date|date:"d-m-Y H:i" }}</td>
                                    {% if assign.external_movement_required %}
                                        <td>YES</td>
                                    {% else %}
                                        <td>NO</td>
                                    {% endif %}
                                    <td>{{ assign.status|title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This server has never been assigned to any location</p>
                {% endif %}						
            </div>					
        </div>
    </div>
{% endblock %}