{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of Note Counters</p>
        <button id="car_title_header_and_new_btn_button">+ new note counter</button>
    </div>
    <div id="car_body_data">
        <a href="{% url 'assets_management:note-counters-report' 'report' %}" class="generate-report">Generate PDF report</a>
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>MODEL</th>
                    <th>SERIAL NUMBER</th>
                    <th>TAG NUMBER</th>
                    <th>WORKING STATUS</th>
                    <th>DATE ENTERED THE BANK</th>
                    <th>RECORDED DATE</th>
                    <th colspan="3">ACTIONS</th>
                </thead>
                <tbody>
                    {% for note_counter in note_counters %}
                        <tr>
                            <td>{{ note_counter.model|upper }}</td>
                            <td>{{ note_counter.serial_number|upper }}</td>
                            <td>{{ note_counter.tag_number|upper }}</td>
                            <td>{{ note_counter.status|replace|upper }}</td>
                            <td>{{ note_counter.entry_date_in_bank }}</td>
                            <td>{{ note_counter.recorded_date }}</td>
                            <td><a href="{% url 'assets_management:note-counter-detail' note_counter.asset_id %}" class="view_button">view details</a></td>
                            <td><a href="{% url 'assets_management:note-counter-detail-update' note_counter.asset_id 'update' %}" class="update_button">update</a></td>
                            <td><a href="{% url 'assets_management:note-counter-detail-update' note_counter.asset_id 'confirm_delete' %}" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div id="car_new_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new Note counter device in the system</legend>	
                    <div class="form-group">
                        <input type="hidden" name="category" min='3'  value="NOTE-COUNTER" required/>
                    </div>
                    <div class="form-group">
                        <select required name="which_store">
                            <option value="STORE" selected disabled>Choose store where Note counter is stored</option>
                            {% for VALUE, STORE in STORES %}
                                <option value={{ VALUE }}>{{ STORE }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="status">
                            <option value="STORE" selected disabled>Choose working status of Note counter</option>
                            {% for VALUE, STATUS in STATUES %}
                                <option value={{ VALUE }}>{{ STATUS }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Note counter serial number" maxlength="40" minlength="4" name="serial_number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Note counter model" maxlength="100" name="model" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Note counter tag number" maxlength="40" name="tag_number"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Note counter version" maxlength="65" name="version"/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Note counter purchase price" min="5000" name="purchase_price" required/>
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Entry date in the bank" name="entry_date_in_bank" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Note counter warranty time(in months)" min="0" name="warranty_time" required/>
                    </div>	
                    <div class="form-group">
                        <input type="number" placeholder="Note counter life time(in months)" min="0" name="lifetime" required/>
                    </div>
                    <input type="submit" value="Save new note counter"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}