{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of Printers</p>
        <button id="car_title_header_and_new_btn_button">+ new printer</button>
    </div>
    <div id="car_body_data">
        <a href="{% url 'assets_management:printers-report' 'report' %}" class="generate-report">Generate PDF report</a>
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>MODEL</th>
                    <th>PRINTER CATEGORY</th>
                    <th>SERIAL NUMBER</th>
                    <th>TAG NUMBER</th>
                    <th>CONNECTION WAY</th>
                    <th>HOST IP</th>
                    <th>WORKING STATUS</th>
                    <th>PRINTER VERSION</th>
                    <th>DATE ENTERED THE BANK</th>
                    <th>RECORDED DATE</th>
                    <th colspan="3">ACTIONS</th>
                </thead>
                <tbody>
                    {% for printer in printers %}
                        <tr>
                            <td>{{ printer.model|upper }}</td>
                            {% if printer.category_type.upper == "OTHER" %}
                                <td>{{ printer.other_type_name }}</td>
                            {% else %}
                                <td>{{ printer.category_type|replace|upper }}</td>
                            {% endif %}
                            <td>{{ printer.serial_number|upper }}</td>
                            <td>{{ printer.tag_number|upper }}</td>
                            <td>{{ printer.connection_type|upper }}</td>
                            {% if printer.connection_type.upper == "NETWORK" %}
                                <td>{{ printer.host_ip }}</td>
                            {% else %}
                                <td> </td>
                            {% endif %}
                            <td>{{ printer.status|replace|upper }}</td>
                            {% if printer.version %}
                                <td>{{ printer.version|upper }}</td>
                            {% else %}
                                <td> </td>
                            {% endif %}
                            <td>{{ printer.entry_date_in_bank }}</td>
                            <td>{{ printer.recorded_date }}</td>
                            <td><a href="{% url 'assets_management:printer-detail' printer.asset_id %}" class="view_button">view details</a></td>
                            <td><a href="{% url 'assets_management:printer-detail-update' printer.asset_id 'update' %}" class="update_button">update</a></td>
                            <td><a href="{% url 'assets_management:printer-detail-update' printer.asset_id 'confirm_delete' %}" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div id="car_new_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new printer in the system</legend>	
                    <div class="form-group">
                        <input type="hidden" name="category" value="PRINTER"/>
                    </div>				
                    <div class="form-group">
                        <select required name="category_type">
                            <option value="printer_category_type" selected disabled>choose printer category</option>
                            {% for VALUE, CATEGORY in CATEGORY_TYPES %}
                              <option value={{ VALUE }}>{{ CATEGORY }}</option>  
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="other_type_name" maxlength="40" placeholder="Other type name"/>
                    </div>
                    <div class="form-group">
                        <select required name="connection_type">
                            <option value="connection_type" selected disabled>Choose connection type</option>
                            {% for VALUE, TYPE in CONNECTION_TYPES %} 
                                <option value={{ VALUE }}>{{ TYPE }}</option>   
                            {% endfor %}                          
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="host_ip" maxlength="20" placeholder="Printer host IP"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="version" maxlength="65" placeholder="Printer version"/>
                    </div>
                    <div class="form-group">
                        <select required name="which_store">
                            <option value="STORE" selected disabled>Choose store where printer is stored</option>
                            {% for VALUE, STORE in STORES %}
                                <option value={{ VALUE }}>{{ STORE }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="status">
                            <option value="STORE" selected disabled>Choose working status of printer</option>
                            {% for VALUE, STATUS in STATUES %}
                                <option value={{ VALUE }}>{{ STATUS }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Printer serial number" maxlength="40" minlength="4" name="serial_number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Printer model" maxlength="100" name="model" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Printer tag number" maxlength="40" name="tag_number"/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Printer purchase price" min="20000" name="purchase_price" required/>
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Entry date in the bank" name="entry_date_in_bank" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Printer warranty time(in months)" min="0" name="warranty_time" required/>
                    </div>	
                    <div class="form-group">
                        <input type="number" placeholder="Printer life time(in months)" min="0" name="lifetime" required/>
                    </div>
                    <input type="submit" value="Save new printer"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}