{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">{{ scanner.category|title }} Name: {{ scanner.model|upper }}</p>
        <a href="{% url 'assets_management:scanners-list' %}" id="price_back_to_car_list">Back to scanners list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating scanner information in the system</legend>		
                    <div class="form-group">
                        <input type="hidden" name="category" value="{{scanner.category }}"/>
                    </div>			
                    <div class="form-group">
                        <label>Choose scanner category</label>
                        <select required name="category_type">
                            <option value="{{scanner.category_type }}" selected>{{ scanner.category_type|replace|upper }}</option>
                            {% for VALUE, CATEGORY in CATEGORY_TYPES %}
                                {% if scanner.category_type != VALUE %}
                                    <option value="{{ VALUE }}">{{ CATEGORY }}</option> 
                                {% endif %} 
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Other type name</label>
                        <input type="text" name="other_type_name" maxlength="40" value="{{ scanner.other_type_name }}"/>
                    </div>
                    <div class="form-group">
                        <label>Choose connection type</label>
                        <select required name="connection_type">
                            <option value="{{ scanner.connection_type }}" selected>{{ scanner.connection_type|replace|upper }} </option>
                            {% for VALUE, TYPE in CONNECTION_TYPES %} 
                                {% if scanner.connection_type != VALUE %}
                                    <option value="{{ VALUE }}">{{ TYPE }}</option> 
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>                   
                    <div class="form-group">
                        <label>scanner host IP</label>
                        <input type="text" name="host_ip" maxlength="20" value="{{ scanner.host_ip }}"/>
                    </div>
                    <div class="form-group">
                        <label>scanner version</label>
                        <input type="text" name="version" maxlength="65" value="{{ scanner.version }}"/>
                    </div>
                    <div class="form-group">
                        <p>Was the scanner sold?:</p>                      
                        <label for="asset_sold_yes">Yes
                             <input type="radio" id="asset_sold_yes" name="asset_sold" {% if scanner.asset_sold %} checked {% endif %}/>
                        </label> 
                        <label for="asset_sold_no">No
                            <input type="radio" id="asset_sold_no" name="asset_sold" {% if not scanner.asset_sold %} checked {% endif %}/>
                        </label> 
                    </div>
                    <div class="form-group">
                        <label>scanner sale date</label>
                        <input type="date" name="sold_date" value="{{scanner.sold_date|date:'Y-m-d'}}"/>
                    </div>
                    <div class="form-group">
                        <label>scanner sale price</label>
                        <input type="number" name="sale_price" value="{{ scanner.sale_price }}"/>
                    </div>
                    <div class="form-group">
                        <label>Choose store where scanner is stored</label>
                        <select required name="which_store">
                            <option value="{{ scanner.which_store }}" selected>{{ scanner.which_store|replace|upper }}</option>
                            {% for VALUE, STORE in STORES %}
                                {% if scanner.which_store != VALUE %}
                                    <option value="{{ VALUE }}">{{ STORE }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose working status of scanner</label>
                        <select required name="status">
                            <option value="{{ scanner.status }}" selected>{{ scanner.status|replace|upper }}</option>
                            {% for VALUE, STATUS in STATUES %}
                                {% if scanner.status != VALUE %}
                                    <option value="{{ VALUE }}">{{ STATUS }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>scanner serial number</label>
                        <input type="text" maxlength="40" minlength="4" name="serial_number" value="{{ scanner.serial_number }}" required/>
                    </div>
                    <div class="form-group">
                        <label>scanner model</label>
                        <input type="text" maxlength="100" name="model" value="{{ scanner.model }}" required/>
                    </div>
                    <div class="form-group">
                        <label>scanner tag number</label>
                        <input type="text" maxlength="40" name="tag_number" value="{{ scanner.tag_number }}"/>
                    </div>
                    <div class="form-group"></label>
                        <label>scanner purchase price
                        <input type="number" min="50000" name="purchase_price" value="{{ scanner.purchase_price }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Entry date in the bank</label>
                        <input type="date" name="entry_date_in_bank" value="{{scanner.entry_date_in_bank|date:'Y-m-d'}}" required/>
                    </div>
                    <div class="form-group">
                        <label>scanner warranty time(in months)</label>
                        <input type="number" min="0" name="warranty_time"  value="{{ scanner.warranty_time }}" required/>
                    </div>	
                    <div class="form-group">
                        <label>scanner life time(in months)</label>
                        <input type="number" min="0" name="lifetime" value="{{ scanner.lifetime }}" required/>
                    </div>
                    <input type="submit" value="Update scanner information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}