{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of Screens</p>
        <button id="car_title_header_and_new_btn_button">+ new screen</button>
    </div>
    <div id="car_body_data">
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>MODEL</th>
                    <th>SCREEN CATEGORY</th>
                    <th>SCREEN SIZE</th>
                    <th>SERIAL NUMBER</th>
                    <th>TAG NUMBER</th>
                    <th>WORKING STATUS</th>
                    <th>DATE ENTERED THE BANK</th>
                    <th>RECORDED DATE</th>
                    <th colspan="4">ACTIONS</th>
                </thead>
                <tbody>
                    {% for screen in screens %}
                        <tr>
                            <td>{{ screen.model|upper }}</td>
                            <td>{{ screen.category|upper }}</td>
                            <td>{{ screen.size }} {{ screen.size_measure|lower }}</td>
                            <td>{{ screen.serial_number|upper }}</td>
                            <td>{{ screen.tag_number|upper }}</td>
                            <td>{{ screen.status|replace|upper }}</td>
                            <td>{{ screen.entry_date_in_bank }}</td>
                            <td>{{ screen.recorded_date }}</td>
                            <td><a href="#" class="publish_button">publish</a></td>
                            <td><a href="{% url 'assets_management:screen-detail' screen.asset_id %}" class="view_button">view details</a></td>
                            <td><a href="{% url 'assets_management:screen-detail-update' screen.asset_id 'update' %}" class="update_button">update</a></td>
                            <td><a href="{% url 'assets_management:screen-detail-update' screen.asset_id 'confirm_delete' %}" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div id="car_new_form_div">
            <div>
                <h4>Before filling out the form for recording a new screen, here is the explaination of some fields for supporting you to fill out with required and correct data about screen</h4>
                <p><strong>SERIAL NUMBER:</strong> These are series of characters used to identify a screen</p>
                <p><strong>Tag number:</strong>This is a series of characters which identifies each asset of an organization</p>
                <p><strong>Entry date in the bank: </strong>The date when the bank has received the screen from supplier</p>
                <p><strong>Warranty time(in months): </strong>The time given by the supplier to the bank for screen to be returned back if it doesn't meet the specifications</p>
                <p><strong>Life time (in months): </strong>The time the screen is supposed to be used and after that time the computer should not be reliable(provided by the manufacturer and shuould be followed)</p>
                <p><strong>Store: </strong>If the screen is in stock which stock where it is stored</p>
                <p><strong>Purchase price(RWF): </strong>Amount that spent while buying screen</p>
                <p><strong>Sell price: </strong>If the screen was sold, at which price it was sold</strong>.</p>
                <p><strong>Working status: </strong>Behaviour of the screen while being used</p>
                <p><strong>Category: </strong>The type of screen whether TV or monitor</p>
                <p><strong>Screen size: </strong>The size of the screen in inches</p>
            </div>
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new screen in the system</legend>	
                    <div class="form-group">
                        <select required name="category">
                            <option value="screen_category" selected disabled>Choose screen category</option>
                            {% for VALUE, CATEGORY in CATEGORIES %} 
                                <option value={{ VALUE }}>{{ CATEGORY }}</option>   
                            {% endfor %}                          
                        </select>
                    </div>				
                    <div class="form-group">
                        <input type="text" name="size" min='3'  placeholder="Enter screen size in inches" step="0.01" required/>
                    </div>
                    <div class="form-group">
                        <select required name="which_store">
                            <option value="STORE" selected disabled>Choose store where screen is stored</option>
                            {% for VALUE, STORE in STORES %}
                                <option value={{ VALUE }}>{{ STORE }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="status">
                            <option value="STORE" selected disabled>Choose working status of screen</option>
                            {% for VALUE, STATUS in STATUES %}
                                <option value={{ VALUE }}>{{ STATUS }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="screen serial number" maxlength="40" minlength="4" name="serial_number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="screen model" maxlength="100" name="model" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="screen tag number" maxlength="40" name="tag_number"/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="screen purchase price" min="5000" name="purchase_price" required/>
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Entry date in the bank" name="entry_date_in_bank" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="screen warranty time(in months)" min="0" name="warranty_time" required/>
                    </div>	
                    <div class="form-group">
                        <input type="number" placeholder="screen life time(in months)" min="0" name="lifetime" required/>
                    </div>
                    <input type="submit" value="Save new screen"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}