{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">{{ screen.category|upper }} : {{ screen.model|upper }}</p>
        <a href="{% url 'assets_management:screens-list' %}" id="price_back_to_car_list">Back to screens list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating screen information in the system</legend>		
                    <div class="form-group">
                        <input type="hidden" name="category" value="{{screen.category }}"/>
                    </div>			
                    <div class="form-group">
                        <label>Choose screen category</label>
                        <select required name="category">
                            <option value="{{screen.category }}" selected>{{ screen.category|replace|upper }}</option>
                            {% for VALUE, CATEGORY in CATEGORY_TYPES %}
                                {% if screen.category != VALUE %}
                                    <option value="{{ VALUE }}">{{ CATEGORY }}</option> 
                                {% endif %} 
                            {% endfor %}
                        </select>
                    </div>                   
                    <div class="form-group">
                        <p>Was the screen sold?:</p>                      
                        <label for="asset_sold_yes">Yes
                             <input type="radio" id="asset_sold_yes" name="asset_sold" {% if screen.asset_sold %} checked {% endif %}/>
                        </label> 
                        <label for="asset_sold_no">No
                            <input type="radio" id="asset_sold_no" name="asset_sold" {% if not screen.asset_sold %} checked {% endif %}/>
                        </label> 
                    </div>
                    <div class="form-group">
                        <label>screen sale date</label>
                        <input type="date" name="sold_date" value="{{screen.sold_date|date:'Y-m-d'}}"/>
                    </div>
                    <div class="form-group">
                        <label>screen sale price</label>
                        <input type="number" name="sale_price" value="{{ screen.sale_price }}"/>
                    </div>
                    <div class="form-group">
                        <label>Choose store where screen is stored</label>
                        <select required name="which_store">
                            <option value="{{ screen.which_store }}" selected>{{ screen.which_store|replace|upper }}</option>
                            {% for VALUE, STORE in STORES %}
                                {% if screen.which_store != VALUE %}
                                    <option value="{{ VALUE }}">{{ STORE }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose working status of screen</label>
                        <select required name="status">
                            <option value="{{ screen.status }}" selected>{{ screen.status|replace|upper }}</option>
                            {% for VALUE, STATUS in STATUES %}
                                {% if screen.status != VALUE %}
                                    <option value="{{ VALUE }}">{{ STATUS }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>screen serial number</label>
                        <input type="text" maxlength="40" minlength="4" name="serial_number" value="{{ screen.serial_number }}" required/>
                    </div>
                    <div class="form-group">
                        <label>screen model</label>
                        <input type="text" maxlength="100" name="model" value="{{ screen.model }}" required/>
                    </div>
                    <div class="form-group">
                        <label>screen size(in inches</label>
                        <input type="number"  name="size" value="{{ screen.size }}" required/>
                    </div>
                    <div class="form-group">
                        <label>screen tag number</label>
                        <input type="text" maxlength="40" name="tag_number" value="{{ screen.tag_number }}"/>
                    </div>
                    <div class="form-group"></label>
                        <label>screen purchase price
                        <input type="number" min="50000" name="purchase_price" value="{{ screen.purchase_price }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Entry date in the bank</label>
                        <input type="date" name="entry_date_in_bank" value="{{screen.entry_date_in_bank|date:'Y-m-d'}}" required/>
                    </div>
                    <div class="form-group">
                        <label>screen warranty time(in months)</label>
                        <input type="number" min="0" name="warranty_time"  value="{{ screen.warranty_time }}" required/>
                    </div>	
                    <div class="form-group">
                        <label>screen life time(in months)</label>
                        <input type="number" min="0" name="lifetime" value="{{ screen.lifetime }}" required/>
                    </div>
                    <input type="submit" value="Update screen information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}