{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of Switches</p>
        <button id="car_title_header_and_new_btn_button">+ new switch</button>
    </div>
    <div id="car_body_data">
        <div id="car_table_data" class="table-data">
            <table>
                <thead>
                    <th>MODEL</th>
                    <th>SERIAL NUMBER</th>
                    <th>HOST NAME</th>
                    <th>TAG NUMBER</th>
                    <th>WORKING STATUS</th>
                    <th>MANUFACTURER</th>
                    <th>HOST IP</th>
                    <th>DATE ENTERED THE BANK</th>
                    <th>RECORDED DATE</th>
                    <th colspan="3">ACTIONS</th>
                </thead>
                <tbody>
                    {% for switch in switches %}
                        <tr>
                            <td>{{ switch.model|upper }}</td>
                            <td>{{ switch.serial_number|upper }}</td>
                            <td>{{ switch.hostname|upper }}</td>
                            <td>{{ switch.tag_number|upper }}</td>
                            <td>{{ switch.status|replace|upper }}</td>
                            <td>{{ switch.manufacturer|upper }}</td>
                            <td>{{ switch.host_ip }}</td>
                            <td>{{ switch.entry_date_in_bank }}</td>
                            <td>{{ switch.recorded_date }}</td>
                            <td><a href="{% url 'assets_management:switch-detail' switch.asset_id %}" class="view_button">view details</a></td>
                            <td><a href="{% url 'assets_management:switch-detail-update' switch.asset_id 'update' %}" class="update_button">update</a></td>
                            <td><a href="{% url 'assets_management:switch-detail-update' switch.asset_id 'confirm_delete' %}" class="delete_button">delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <div id="car_new_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Recording a new Switch device in the system</legend>
                    <div class="form-group">
                        <input type="hidden" name="category" value="SWITCH" required/>
                    </div>	
                    <div class="form-group">
                        <select required name="which_store">
                            <option value="STORE" selected disabled>Choose store where Switch is stored</option>
                            {% for VALUE, STORE in STORES %}
                                <option value={{ VALUE }}>{{ STORE }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select required name="status">
                            <option value="STORE" selected disabled>Choose working status of Switch</option>
                            {% for VALUE, STATUS in STATUES %}
                                <option value={{ VALUE }}>{{ STATUS }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch serial number" maxlength="40" minlength="4" name="serial_number" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch model" maxlength="100" name="model" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch manufacturer" maxlength="60" name="manufacturer" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch name" maxlength="40" name="hostname" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch host IP" maxlength="20" name="host_ip" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch tag number" maxlength="40" name="tag_number"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Switch version" maxlength="65" name="version"/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Switch purchase price" min="5000" name="purchase_price" required/>
                    </div>
                    <div class="form-group">
                        <input type="date" placeholder="Entry date in the bank" name="entry_date_in_bank" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Switch warranty time(in months)" min="0" name="warranty_time" required/>
                    </div>	
                    <div class="form-group">
                        <input type="number" placeholder="Switch life time(in months)" min="0" name="lifetime" required/>
                    </div>
                    <input type="submit" value="Save new Switch"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}