{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">{{ switch.category|upper|replace }} : {{ switch.model|upper }}</p>
        <a href="{% url 'assets_management:switches-list' %}" id="price_back_to_car_list">Back to switches list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating switch information in the system</legend>	
                    <div class="form-group">
                        <input type="hidden" name="category" value="{{switch.category}}"/>
                    </div>				                  
                    <div class="form-group">
                        <p>Was the switch sold?:</p>                      
                        <label for="asset_sold_yes">Yes
                             <input type="radio" id="asset_sold_yes" name="asset_sold" {% if switch.asset_sold %} checked {% endif %}/>
                        </label> 
                        <label for="asset_sold_no">No
                            <input type="radio" id="asset_sold_no" name="asset_sold" {% if not switch.asset_sold %} checked {% endif %}/>
                        </label> 
                    </div>
                    <div class="form-group">
                        <label>Switch sale date</label>
                        <input type="date" name="sold_date" value="{{switch.sold_date|date:'Y-m-d'}}"/>
                    </div>
                    <div class="form-group">
                        <label>Switch sale price</label>
                        <input type="number" name="sale_price" value="{{ switch.sale_price }}"/>
                    </div>
                    <div class="form-group">
                        <label>Choose store where switch is stored</label>
                        <select required name="which_store">
                            <option value="{{ switch.which_store }}" selected>{{ switch.which_store|replace|upper }}</option>
                            {% for VALUE, STORE in STORES %}
                                {% if switch.which_store != VALUE %}
                                    <option value="{{ VALUE }}">{{ STORE }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose working status of a switch</label>
                        <select required name="status">
                            <option value="{{ switch.status }}" selected>{{ switch.status|replace|upper }}</option>
                            {% for VALUE, STATUS in STATUES %}
                                {% if switch.status != VALUE %}
                                    <option value="{{ VALUE }}">{{ STATUS }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Switch serial number</label>
                        <input type="text" maxlength="40" minlength="4" name="serial_number" value="{{ switch.serial_number }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Switch model</label>
                        <input type="text" maxlength="100" name="model" value="{{ switch.model }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Manufacturer</label>
                        <input type="text" maxlength="60" name="manufacturer" value="{{ switch.manufacturer }}"/>
                    </div>
                    <div class="form-group">
                        <label>Switch version</label>
                        <input type="text"  name="version" value="{{ switch.version }}" maxlength="65"/>
                    </div>
                    <div class="form-group">
                        <label>Switch host IP</label>
                        <input type="text"  name="host_ip" value="{{ switch.host_ip }}" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <label>Switch name</label>
                        <input type="text"  name="hostname" value="{{ switch.hostname }}" maxlength="40" required/>
                    </div>
                    <div class="form-group">
                        <label>Switch tag number</label>
                        <input type="text" maxlength="40" name="tag_number" value="{{ switch.tag_number }}"/>
                    </div>
                    <div class="form-group"></label>
                        <label>Switch purchase price
                        <input type="number" min="5000" name="purchase_price" value="{{ switch.purchase_price }}" required/>
                    </div>
                    <div class="form-group">
                        <label>Entry date in the bank</label>
                        <input type="date" name="entry_date_in_bank" value="{{switch.entry_date_in_bank|date:'Y-m-d'}}" required/>
                    </div>
                    <div class="form-group">
                        <label>Switch warranty time(in months)</label>
                        <input type="number" min="0" name="warranty_time"  value="{{ switch.warranty_time }}" required/>
                    </div>	
                    <div class="form-group">
                        <label>Switch life time(in months)</label>
                        <input type="number" min="0" name="lifetime" value="{{ switch.lifetime }}" required/>
                    </div>
                    <input type="submit" value="Update switch information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}