{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">#GROUP:  {{ group.name}}</p>
        <a href="{% url 'users_management:groups-list' %}" id="price_back_to_car_list">Back to groups list</a>
    </div>
    <div id="car_body_data">
        <div id="computer_update_form_div">
            <form id="car_new_form" method="post" action="">
                {% csrf_token %}
                <fieldset>
                    <legend>Updating group information in the system</legend>	

                    <div class="form-group">
                        <label>GROUP NAME</label>
                        <input type="text" maxlength="50" name="name" required value="{{ group.name }}"/>
                    </div>
                    <input type="submit" value="update group information"/>
                </fieldset>						
            </form>
        </div>
    </div>
{% endblock %}