{% extends "base_layout.html" %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">#USER:  {{ user.username}}</p>
        <a href="{% url 'users_management:users-list' %}" id="price_back_to_car_list">Back to users list</a>
    </div>
    <div id="car_body_data">				
        <div id="car_prices">
            <div id="car_viewed_for_prices" class="car_viewed_for_services_prices">
                <div>
                    <p><strong>First name: </strong>{{ user.first_name|upper }}</p>
                    <p><strong>Last name: </strong>{{ user.last_name|upper }}</p>                 
                    <p><strong>Phone number: </strong>{{ user.phone_number }}</p>
                </div>
                <div>
                    <p><strong>Time joined: </strong>{{ user.date_joined|date:'d-m-Y H:i' }}</p>
                    <p><strong>Last login: </strong>{{ user.last_login|date:'d-m-Y H:i' }}</p>
                    <p><strong>E-mail: </strong>{{ user.email|upper }}</p>
                </div>
                <div>
                    <p><strong>Status: </strong>{% if user.is_active %}ACTIVE{% else %}INACTIVE{% endif %}</p>
                    <p><strong>Super user: </strong>{% if user.is_superuser %}YES{% else %}NO{% endif %}</p>
                    <p><strong>Member of: </strong>{{ user_groups_num }} {% if user_groups_num > 1 %}groups{% else %}group{% endif %}</p>
                </div>
            </div>
            <div id="current_price_list" class="table-data">
                <h4>{{ user.first_name|upper}} {{ user.last_name|upper }} is a member of {% if user_groups_num > 1 %}these groups{% else %} this group{% endif %} </h4>
                <button id="view_price_archive_button" onclick='showGroupPriceArchive("block")'>show price archives</button>
                {% comment %} <form>
                    <select>
                        <option value="all services" selected>All services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                        <option value="wedding services">Wedding services</option>
                    </select>
                    <select>
                        <option value="From" selected disabled>From</option>
                        <option value="Gasabo">Gasabo</option>
                        <option value="Rusizi">Rusizi</option>
                    </select>
                    <select>
                        <option value="To" selected disabled>To</option>
                        <option value="Gasabo">Gasabo</option>
                        <option value="Rusizi">Rusizi</option>
                    </select>
                    <select>
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="all">All records</option>
                    </select>
                    <input type="submit" value="view"/>
                </form> {% endcomment %}
                {% if user_groups_num > 0 %}						
                    <table class="table-data">
                        <thead>
                            <th>GROUP NAME</th>
                            <th>DATE JOINED GROUP</th>
                            <th colspan="2">Action</th>
                        </thead>
                        <tbody>
                            {% for group in user_groups %}
                                <tr>
                                    <td>{{ group.user_group.name }}</td>
                                    <td>{{ group.date_joined|date:"d-m-Y" }}</td>
                                    <td><a href="{% url 'users_management:group-detail'  group.user_group.group_id %}"  class="view_button">view details</a></td>
                                    <td><a href="{% url 'users_management:remove-member'  group.user_group.group_id user.username 'remove' %}" class="delete_button">remove</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}						
            </div>					
        </div>
    </div>
{% endblock %}