{% extends 'base_layout.html' %}
{% load static %}
{% load custom_template_filters %}
{% block main_data_load %}
    <div id="car_title_header_and_new_btn">
        <p id="car_title_header_and_new_btn_p">List of Requests</p>
    </div>
    <div id="car_body_data">
        <div id="car_table_data" class="table-data">
            {% if requests_num > 0 %}
                <table>
                    <thead>
                        <th>REQUEST TYPE</th>
                        <th>STATUS</th>
                        <th>OPENED BY(ASSIGNER)</th>
                        <th>ASSIGNER PHONE NUMBER</th>
                        <th>ASSIGNER E-MAIL</th>
                        <th>OPENED DATE</th>
                        <th>STATUS</th>
                        <th colspan="4">ACTIONS</th>
                    </thead>
                    <tbody>
                        {% for req in requests %}
                            <tr>
                                <td>{{ req.request_type|upper }}</td>
                                <td>{{ req.status|upper }}</td>
                                <td>{{ req.assigner.first_name|upper }} {{ req.assigner.last_name|upper }}</td>
                                <td>{{ req.assigner.phone_number}}</td>
                                <td>{{ req.assigner.email|upper}}</td>
                                <td>{{ req.opened_date|date:"d-m-Y H:i"}}</td>                         
                                <td><a href="{% url 'requests_management:request-detail' req.request_id %}" class="view_button">view details</a></td>
                                <td><a href="{% url 'requests_management:request-approve-reject' req.request_id 'approve' %}" class="update_button">Approve</a></td>
                                <td><a href="{% url 'requests_management:request-approve-reject' req.request_id 'reject' %}" class="delete_button">Reject</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no pending requests</p>
            {% endif %}
        </div>
    </div>
{% endblock %}