<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
	<script src="{% static 'js/main.js' %}"></script>

    <title>Equity - Enterprise Asset Managment</title>
  </head>
  <body>
    <div id="aside_navigation">
		<div id="sfjourney_aside_logo">
			<img src="{% static 'images/equity_logo.jpg' %}" id="aside_logo" class="aside-header-data"/>
			<p class="aside-header-data">Enterprise Asset Management</p>
		</div>
		<div id="aside_navigations">
			<a href="{% url 'all_staff:user-computers' %}">Computers Assigned To Me</a>
			<a href="{% url 'all_staff:user-screens' %}">Screens Assinged To Me</a>
			<a href="{% url 'all_staff:user-bios' %}">Biometric devices Assinged To Me</a>
			<a href="{% url 'all_staff:user-avaya' %}">Avaya Assinged To Me</a>
			<a href="{% url 'requests_management:requests-list' %}">Requests Assigned To Me</a>
			<a href="{% url 'account:logout_user' %}">Sign out</a>
		</div>
	</div>
	<div id="main_load">
		<div id="main_load_header">
			<button onclick="toggleNavigations()"><img src="{% static 'images/icon.png' %}" width="20" height="20"/></button>
			<p>Welcome, {{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }}</p>
		</div>
		<div id="main_load_data">
			{% block main_data_load %}

            {% endblock %}
		</div>
	</div>
  </body>
</html>